.App {
  text-align: center;
}

.App-header {
  background-color: rgb(253, 253, 253);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: grey;
}
.border {
  border: 1px solid black;
  padding: 3px;
  background-color: rgb(252, 251, 244);
}

table, td, tr {
  border: 1px solid black;
  text-align: center;
}
hr {
  float : left;
  height : 15px;
  background-color: blue;
}

.name {
  width : 300px;
  height : 15px;
}
.voted {
  text-align: left;
  width : 600px;
  height : 15px;
}

.unitBar {
  width: 1px;
}